@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  box-sizing: border-box;
}
/* Váriaveis das cores do site */
:root {
  --cor-principal: #f57419;
  --cor-secundaria: #105ff1;
  --cor-bg: #ffffff;
  --cor-bg2: #000000;
  --cor-bg3: #b4b9ce;
}


/* Formatação do Formulário */
/*centraliza o titulo*/
.titulo {
  display: flex;
  justify-content: center;
}
/* centraliza o formulário*/
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--cor-bg);
}
/* organiza os itens dentro do formulário */
.formLogin {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-bg);
  border-radius: 7px;
  padding: 40px;
  padding-bottom: 80px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 5px;
  width: 500px;
  height: 700px;
}


/* formatação dos textos dentro do form*/
.formLogin h1 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.3em;
}

.formLogin p {
  display: inline-block;
  font-size: 14px;
  color: var(--cor-bg2);
  margin-bottom: 25px;
}
/* /formatação dos textos dentro do form*/

/*formata os inputs dentro do form*/
.formLogin input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid var(--cor-bg2);
  margin-bottom: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: all linear 160ms;
  outline: none;
}

/*formata a fonte dentro do label*/
.formLogin label {
  font-size: 14px;
  font-weight: 600;
}

/* /Formatação do Formulário */


/* Formatação dos botões*/

/* Centraliza o botão*/
.botoes{
    display: flex;
    align-content: center ;
    flex-direction: column;
}
/* formata o texto dentro do botão*/

.botoes a{
    display: flex;
    justify-content: center;
    background-color: var(--cor-principal);
    text-decoration: none;
    color: var(--cor-bg);
    border-radius: 4px;
    padding: 15px;
}

/* /Formatação dos botões*/

/*formata o texto 'Assine o CrowdGym'*/
.contatos h1 {
  text-align: center;
  font-size: 1.6rem;
}

/* formatação do footer*/

footer {
  width: 100%;
  color: var(--cor-bg);
}

/*tira a decoração das imagens e da a cor do texto*/
.footer-link {
  text-decoration: none;
  color: var(--cor-bg);
}

/*centraliza as colunas do footer*/
#footer_content {
  background-color: var(--cor-principal);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem 3.5rem;
}
/*da uma margem ao título dos contatos*/
#footer_contacts h1 {
  margin-bottom: 0.75rem;
}
/*separa os itens de midia*/
#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
/*centraliza os icones de midias*/
#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transition: all 0.4s;
}
/* altera o tamanho dos icones de midia*/
#footer_social_media .footer-link i {
  font-size: 1.25rem;
}
/*altera a opacidade do icone de midia ao passar o mouse pro cima do icone*/
#footer_social_media .footer-link:hover {
  opacity: 0.8;

}
/*formata o fundo dos icones de midia social*/
#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background: #4267b3;
}

#whatsapp {
  background: #25d366;
}

/*formata o fundo dos icones do instagram facebook e whatsapp*/

/*separa */
.footer_list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  list-style: none;
}
/*formata a coluna de assine*/
#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: var(--cor-bg);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--cor-bg);
  border-radius: 4px;
}
/* /formata a coluna de assine*/


#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;

}
/*formata o botão de envio do email*/
#input_group button {
  background-color: var(--cor-secundaria);
  border: none;
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: 0.5s ease;
}
/*muda a cor do botão ao passar o mouse por cima*/
#input_group button:hover {
  background-color: var(--cor-bg3);
}
/*formata o texto do e o centraliza copyright*/
#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--cor-secundaria);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}


/* /formatação do footer*/