body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    padding-bottom: 290px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 5px;
    width: 500px;
    height: 500px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

.formLogin input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f57419;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f57419;
}

.btn {
    background-color: #f57419;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;
    margin-bottom: 100px;
    border-radius: 30px;

}

.btn:hover {

    background-color: #f57419;

}

#acessar {
    margin-bottom: 20px;

}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo h1 {
    font-size: 60px;
    font-family: monospace;
}

.esqueci {
    display: flex;
    justify-content: end;
}

.esqueci a {
    font-size: 15px;
}
.botoes{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.botoes a{
    /**/
    display: flex;
    justify-content: center;
    background-color: #f57419;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    padding: 15px;
    height: 20px;
}
.botoes a:hover{
    color: #fff;
}